*{
    margin: 0px; 
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}   
.content h1 {
    font-size: 40px;
    margin: 50px;
    text-align: center;
    margin-top: 80px;
    color:aliceblue
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    margin: 15px; 
    padding: 0px;
    top: -475px;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color:aliceblue;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: white;
    height: 100;
    width: 100%;
    border-radius: 25px;
    position: absolute; 
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width:100%;
}
button:hover{
    border: none;
}
.center {
    margin: 0;
    position: absolute;
    top: 250%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
 #preloader{
    background: darkblue url("https://media.giphy.com/media/mlBDoVLOGidEc/giphy.gif") no-repeat center center;
    background-size: 10%;
    height: 100vh;
    min-width: 929.00;
    min-height: 929.00;
    top: -30px;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  .navbar-style{
    background: blue;
  }
  .right-col{
    position: flex;
    margin-left:43%;
    margin-right:auto;
  }
  .music-text{
    display: absolute;
    flex-direction: column;
    justify-content: center;
  }
 #icon{
    width:80px;
    cursor: pointer;
 } 