{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Ethan Tran</strong></h1>
        <div class = "row">
            <div class = "col-4" height = "100px">
                <div class = "card">
                    <div class = "card-body">
                    <h5 class = "card-title">My Blog</h5>
                    <a href="https://realethantran.github.io/fastpages_EthanT/" class = "card-text">Click here!</a>
                    <div></div>
                    <body>This is where I make posts about my life, school, and most importantly my code!</body>
                    <div></div>
                    <img src = "https://fastpages.fast.ai/images/logo.png" width = "262">
                    <img src = "https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" width = "262">
                    </div>
                </div>
            </div>
            <div class = "col-4" height = "100px">
                <div class = "card">
                    <div class = "card-body">
                    <h5 class = "card-title">Introduction</h5>
                    <a href="https://realethantran.github.io/fastpages_EthanT/" class = "card-text"></a>
                    <div></div>
                    <body>Hello! I'm Ethan and I was born and raised in San Diego. In my spare time I like to watch videos on various topics such as finance, cars, and history. I also enjoy going to the beach as well as spending time with my family and friends.</body>
                    <img src = "https://realethantran.github.io/fastpages_EthanT/IMG_0439.JPG" width = "250">
                    <body></body>
                    </div>
                </div>
            </div>
            <div class = "col-4" height = "100px">
                <div class = "card">
                    <div class = "card-body">
                    <h5 class = "card-title">My Game</h5>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class = "card-text">Click here! :)</a>
                    <a href="https://studio.code.org/projects/applab/sgGMqBSH3_vO6Jvb6YTzOXWet7vAw5LuUewhpiJpcZo" class = "card-text">Or here :D</a>
                    <!-- <body>This is my game made in AppLab. It is a personality quiz that is capable of keeping the records (data storage) of the names and results of those who take it</body>
                    <div></div>
                    <img src = "https://wompampsupport.azureedge.net/fetchimage?siteId=7575&v=2&jpgQuality=100&width=700&url=https%3A%2F%2Fi.kym-cdn.com%2Fphotos%2Fimages%2Fnewsfeed%2F001%2F193%2F375%2F5f7.jpeg" width = "330px"> -->
                    <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class = "col-12">
                <div class = "card">
                    <body></body>
                </div>
            </div>
        </div>
    </div>  

{% endblock %}