{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <table>
        <tr>
            <th>Ethan Tran</th>
          </tr>
          <tr>
            <td> 
                I was born and raised in San Diego. In my spare time I like to watch videos on various topics such as finance, cars, and history. I also enjoy going to the beach as well as spending time with my family and friends.
            </td>
          </tr>
            <th>My Blog</th>
            <td>
              <a href="{{site.baseurl}}https://realethantran.github.io/fastpages_EthanT/">
              </a>
            </td>
          </td>
        </tr>
            <th>My email</th>
        <td>
        @etran8@gmail.com
        </td>
      </td>
        </table>
{% endblock %}