{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <head>
    <div class="px-5 py-5 mx-auto">
                <link rel="stylesheet" href="/static\css\style.css">
                    </head>
                        <body>
                        <div class = "content">
                            <h1>Welcome to my local website!</h1>    
                        </div>
                                <div class = "center">
                                <button onclick="window.location.href='https://realethantran.github.io/fastpages_EthanT/';">
                                    My Blog
                                  </button>
                                <button onclick="window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ';">
                                    Suprise!
                                  </button>
                            </div>
                        </div> 
                    <div id ="preloader"> <a>Loading...</a></div>
                        <script>
                            var loader = document.getElementById("preloader");
                            window.addEventListener("load", function(){
                                loader.style.display = "none";
                            })
                        </script>
                    </body>
{% endblock %}